<div id="about_main">
  <div id="onpool"> 
    <h2>Piwi</h2> 
    <h3>Is a project to figure out how many swimming pools are there</h3> 
    <h3>Is a project to figure out how many swimming pools are there</h3> 
    <h3>Is a project to figure out how many swimming pools are there</h3> 
    <h3>Is a project to figure out how many swimming pools are there</h3> 
    <div id="action"> 
      <%= link_to 'help us asdfadsf adfasdfsda',  "/#{@uuid}", :class => "button", :id => "new_pool" %>
      <%= link_to 'new pool',  "/#{@uuid}", :style => "display:none", :id => "go_pool" %>
    </div> 
  </div>
</div>  