<div id="about_main">
  <div id="onpool"> 
    <h2>Piwi</h2> 

    <h3>This little project tries to find out all swimming pools in Spain by asking volunteers to find them using Google Maps. Volunteers will trace the swimming pool ideally so that we can determine its size.</h3>

    <h3>Did you know that there are more than 1.1 million private swimming pools in Spain? Without the public ones. We hear a lot how bad golf is for water resources, but actually there is only 547 golf courses in Spain. Additionally there is probably a lot of "illegal" pools out there. We want to know!</h3>
    <div id="action"> 
      <%= link_to 'help us to find new swimming pools',  "/#{@uuid}", :class => "button", :id => "new_pool" %>
      <%= link_to 'new pool',  "/#{@uuid}", :style => "display:none", :id => "go_pool" %>
    </div> 
  </div>
</div>  