<div id="top_bar">
  <h3><b>Help us by</b> painting as much swimming pools as you can</h3>
</div>

  <script type="text/javascript"> var geojson_data=<%= @geojson_data.html_safe %>;var bbox=<%= @bbox.to_json.html_safe %>;var uuid="<%= @uuid.html_safe %>";var area_id=<%= @area %>;</script>
<div id="map"></div>
