<div id="info"> </div> 
<div id=""> 
  <div id="pool_canvas" ></div> 
  <div class="outer"> 
    <div id="onpool"> 
      <h2>Piwi</h2> 
      <h3>Paint new pools</h3> 
      <ul id="steps"> 
        <li><span>1</span>paint a new swimmingpool</li> 
      </ul> 
      <div id="action"> 
        <%= link_to 'new pool',  "/#{@uuid}", :class => "button", :id => "new_pool" %>
        <%= link_to 'new pool',  "/#{@uuid}", :style => "display:none", :id => "go_pool" %>
      </div> 
    </div> 
    <div id="header"> 
      <p><a href="http://twitter.com/piwi">@piwi</a> · brought to you by <a href="http://javomorales.heroku.com">javomorales</a> &ndash; <a href="http://vizzuality.com">Vizzuality</a> · 2011</p> 
    </div> 
  </div>
</div>