<div id="info"> </div> 
<div id=""> 
  <div id="pool_canvas" ></div> 
  <div class="outer"> 
    <div id="onpool"> 
      <h2>Piwi</h2> 
      <h3>Paint new pools</h3> 
      <div id="action"> 
        <%= link_to 'new pool',  "/#{@uuid}", :class => "button", :id => "new_pool" %>
        <%= link_to 'new pool',  "/#{@uuid}", :style => "display:none", :id => "go_pool" %>
      </div> 
      <div id="about"><a href="/about"><u>More about this project</u></a></div>
    </div> 
    <div id="header"> 
      <p><a href="http://twitter.com/#!/search/%23piwi">#piwi</a> · by <a href="http://twitter.com/#!/jav0m0rales">@jav0m0rales</a> &ndash; <a href="http://twitter.com/#!/jatorre">@jatorre</a> · 2011</p> 
    </div> 
  </div>
</div>